body {
    background-color:rgb(147, 162, 123);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products {
    display:flex;
    flex-direction: row;
}

#product-div {
    border: 2px solid darkslategray;
    border-radius: 5px;
    margin-right: 2vh;
    padding: 1vh;
    background-color:gainsboro;
}

#product-div img {
    width: 22vh;
    border: 1px solid gray;
    border-radius: 5px;
}

#basket {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 1vh;
    background-color:cornsilk;
}

.add-to-cart-button {
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color:gold
}

.add-to-cart-button:hover {
    background-color:yellow;
}

.out-of-stock {
    color: red;
    margin-left: 0.5rem;
}

.products-and-basket {
    display: flex;
    display: row;
}

#name-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}